<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/manyhappy163/ipa/master/shiku_im_1568625211625_1568627660133.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://192.168.0.137/image/20190916/ff8080816d39593a016d39593aa80001.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://192.168.0.137/image/20190916/ff8080816d39593a016d39593aa80001.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xhh.test1</string>
				<key>bundle-version</key>
				<string>15F79</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>乐汇享</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>